body{
    margin: 0;
}
.banner_header{
    background: url(../img/338514.jpg)center/cover;
    width: 100%;
    height: 100vh;
    position: relative;
}
.banner_header::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 300px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, white , transparent);
}
.center_header{
    width: 80%;
    margin: auto;
}
.inline_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.inline_header::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: white;
    bottom: 0;
    left: 0;
}
.logo li a img{
    width: 80px;
}
.inline_header ul{
    list-style: none;
    padding-left: 0;
    margin: 0;
    padding: 15px 0;
}
.inline_header li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
}
.right_list li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
}
.left_list{
    display: flex;
    justify-content: space-around;
    width: 400px;
}
.right_list{
    display: flex;
    justify-content: space-around;
    width: 400px;
}
.title{
    color:blanchedalmond;
    width: 80%;
    margin: auto;
    padding: 50px;
}
.title h1{
    font-size: 70px;
}
.title p{
    font-size: 20px;
    width: 700px;
}
.links a{
    color: black;
    text-decoration: none;
    padding: 15px 50px;
    background: white;
    border-radius: 30px;
    position: relative;
    z-index: 10;
}
.links{
    margin-top: 50px;
}
.toggle_icon li a i{
    color: white;
    font-size: 25px;
}
.toggle_icon{
    display: none;
}
@media (max-width:775px){
    .left_list{
        display: none;
       
    }
    .right_list{
        display: none;
        
    }
    .toggle_icon{
        display: block;
    }
    .banner_header{
        height: 100%;
    }
    .title{
        padding-top: 20px;

    }
    .title p{
        width: 500px;
    }
}
@media(max-width:556px){
    .title p{
        width: 100%;
    }
}